<?xml version="1.0" ?>
<sdf version="1.11" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Standalone wrapper to spawn one robot instance via robot_state_publisher + ros_gz_sim create. -->
  <!-- Process with: xacro caddy_ai2_model_spawn.sdf.xacro prefix:=robot1_ namespace:=robot1       -->
  <!-- Spawn position is passed directly to 'gz create' via -x/-y/-z/-Y args, not in the SDF.      -->

  <xacro:arg name="prefix"    default=""/>
  <xacro:arg name="namespace" default=""/>

  <xacro:include filename="$(find caddy_ai2_ros2_gazebo_simulation)/description/sdf/caddy_ai2_model.sdf.xacro"/>

  <xacro:caddy_ai2_robot
    prefix="$(arg prefix)"
    namespace="$(arg namespace)"/>

</sdf>
