{% set ns = '/' + namespace + '/' if namespace else '/' %}

{{ ns }}controller_manager:
  ros__parameters:
    update_rate: 100
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
    bicycle_to_ackermann_steering_adapter:
      type: bicycle_to_ackermann_steering_adapter/BicycleToAckermannSteeringAdapter
    bicycle_to_ackermann_traction_adapter:
      type: bicycle_to_ackermann_traction_adapter/BicycleToAckermannTractionAdapter
    bicycle_steering_controller:
      type: bicycle_steering_controller/BicycleSteeringController

{{ ns }}bicycle_steering_controller:
  ros__parameters:
    wheelbase: {{ wheelbase }}
    traction_wheel_radius: {{ wheel_radius }}
    reference_timeout: 2.0
    traction_joints_names:
      - bicycle_to_ackermann_traction_adapter/center_traction_joint
    steering_joints_names:
      - bicycle_to_ackermann_steering_adapter/center_steering_joint
    open_loop: false
    velocity_rolling_window_size: 10
    base_frame_id: {{ prefix }}base_footprint
    odom_frame_id: {{ prefix }}odom
    enable_odom_tf: true
    twist_covariance_diagonal: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
    pose_covariance_diagonal: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
    position_feedback: false

{{ ns }}bicycle_to_ackermann_steering_adapter:
  ros__parameters:
    update_rate: 25
    wheelbase: {{ wheelbase }}
    track_width: {{ track_width }}
    max_steer_angle: {{ max_steer_angle }}
    input_steering_name: center_steering_joint
    output_steering_names:
      - {{ prefix }}front_right_wheel_steer_joint
      - {{ prefix }}front_left_wheel_steer_joint

{{ ns }}bicycle_to_ackermann_traction_adapter:
  ros__parameters:
    update_rate: 50
    wheelbase: {{ wheelbase }}
    track_width: {{ track_width }}
    wheel_radius: {{ wheel_radius }}
    input_steering_name: bicycle_to_ackermann_steering_adapter/center_steering_joint
    input_traction_name: center_traction_joint
    output_traction_names:
      - {{ prefix }}rear_right_wheel_joint
      - {{ prefix }}rear_left_wheel_joint
