{% set ns = '/' + namespace + '/' if namespace else '/' %}

{{ ns }}controller_manager:
  ros__parameters:
    update_rate: 100
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
    bicycle_to_ackermann_steering_adapter:
      type: bicycle_to_ackermann_steering_adapter/BicycleToAckermannSteeringAdapter
    bicycle_to_ackermann_traction_adapter:
      type: bicycle_to_ackermann_traction_adapter/BicycleToAckermannTractionAdapter
    bicycle_steering_controller:
      type: bicycle_steering_controller/BicycleSteeringController
    forward_position_command_controller:
      type: forward_command_controller/ForwardCommandController
    forward_velocity_command_controller:
      type: forward_command_controller/ForwardCommandController

{{ ns }}bicycle_steering_controller:
  ros__parameters:
    wheelbase: 1.65
    traction_wheel_radius: 0.235
    reference_timeout: 2.0
    traction_joints_names:
      - bicycle_to_ackermann_traction_adapter/center_traction_joint
    steering_joints_names:
      - bicycle_to_ackermann_steering_adapter/center_steering_joint
    open_loop: false
    velocity_rolling_window_size: 10
    base_frame_id: {{ prefix }}base_link
    odom_frame_id: {{ prefix }}odom
    enable_odom_tf: true
    twist_covariance_diagonal: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
    pose_covariance_diagonal: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
    position_feedback: false

{{ ns }}bicycle_to_ackermann_steering_adapter:
  ros__parameters:
    update_rate: 25
    wheelbase: 1.65
    track_width: 1.0
    max_steer_angle: 0.4
    input_steering_name: center_steering_joint
    output_steering_names:
      - {{ prefix }}front_right_wheel_steer_joint
      - {{ prefix }}front_left_wheel_steer_joint

{{ ns }}bicycle_to_ackermann_traction_adapter:
  ros__parameters:
    update_rate: 50
    wheelbase: 1.65
    track_width: 1.0
    wheel_radius: 0.235
    input_steering_name: bicycle_to_ackermann_steering_adapter/center_steering_joint
    input_traction_name: center_traction_joint
    output_traction_names:
      - {{ prefix }}rear_right_wheel_joint
      - {{ prefix }}rear_left_wheel_joint

{{ ns }}forward_position_command_controller:
  ros__parameters:
    joints:
      - bicycle_to_ackermann_steering_adapter/center_steering_joint
    interface_name: position

{{ ns }}forward_velocity_command_controller:
  ros__parameters:
    joints:
      - bicycle_to_ackermann_traction_adapter/center_traction_joint
    interface_name: velocity
