{% set ns_prefix = '/' + namespace + '/' if namespace else '/' %}
- ros_topic_name: "{{ ns_prefix }}imu"
  gz_topic_name: "{{ ns_prefix }}imu"
  ros_type_name: "sensor_msgs/msg/Imu"
  gz_type_name: "gz.msgs.IMU"
  direction: "GZ_TO_ROS"
  frame_id: "{{ prefix }}{{ sensors['imu_sbg_ig500n']['frame_id'] }}"

- ros_topic_name: "{{ ns_prefix }}sick_lms_291/scan"
  gz_topic_name: "{{ ns_prefix }}sick_lms_291/scan"
  ros_type_name: "sensor_msgs/msg/LaserScan"
  gz_type_name: "gz.msgs.LaserScan"
  direction: "GZ_TO_ROS"
  frame_id: "{{ prefix }}{{ sensors['sick_lms_291']['frame_id'] }}"

- ros_topic_name: "{{ ns_prefix }}navsat"
  gz_topic_name: "{{ ns_prefix }}navsat"
  ros_type_name: "sensor_msgs/msg/NavSatFix"
  gz_type_name: "gz.msgs.NavSat"
  direction: "GZ_TO_ROS"
  frame_id: "{{ prefix }}{{ sensors['navsat_generic']['frame_id'] }}"

- ros_topic_name: "{{ ns_prefix }}ground_truth/odometry"
  gz_topic_name: "{{ ns_prefix }}ground_truth/odometry"
  ros_type_name: "nav_msgs/msg/Odometry"
  gz_type_name: "gz.msgs.Odometry"
  direction: "GZ_TO_ROS"

- ros_topic_name: "{{ ns_prefix }}navsat/base/fix"
  gz_topic_name: "{{ ns_prefix }}navsat/base/fix"
  ros_type_name: "sensor_msgs/msg/NavSatFix"
  gz_type_name: "gz.msgs.NavSat"
  direction: "GZ_TO_ROS"
  frame_id: "{{ prefix }}base_footprint"

- ros_topic_name: "{{ ns_prefix }}navsat/front_axle/fix"
  gz_topic_name: "{{ ns_prefix }}navsat/front_axle/fix"
  ros_type_name: "sensor_msgs/msg/NavSatFix"
  gz_type_name: "gz.msgs.NavSat"
  direction: "GZ_TO_ROS"
  frame_id: "{{ prefix }}front_axle_center_link"

- ros_topic_name: "{{ ns_prefix }}navsat/rear_axle/fix"
  gz_topic_name: "{{ ns_prefix }}navsat/rear_axle/fix"
  ros_type_name: "sensor_msgs/msg/NavSatFix"
  gz_type_name: "gz.msgs.NavSat"
  direction: "GZ_TO_ROS"
  frame_id: "{{ prefix }}rear_axle_center_link"

- ros_topic_name: "{{ ns_prefix }}ydlidar_x4/scan"
  gz_topic_name: "{{ ns_prefix }}ydlidar_x4/scan"
  ros_type_name: "sensor_msgs/msg/LaserScan"
  gz_type_name: "gz.msgs.LaserScan"
  direction: "GZ_TO_ROS"
  frame_id: "{{ prefix }}{{ sensors['ydlidar_x4']['frame_id'] }}"
