<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Import Caddy AI2 Materials macro -->
  <xacro:include filename="$(find caddy_ai2_ros2_gazebo_simulation)/description/urdf/materials.urdf.xacro" />

  <xacro:macro name="caddy_ai2" params="prefix *origin is_simulation:=true">

    <!-- Define tire properties - Deli Tire 18x8.5-8 (inches) -->
    <xacro:property name="wheel_radius" value="0.235"/>
    <xacro:property name="wheel_width" value="0.22"/>
    <xacro:property name="wheel_mass" value="8.7"/>

    <!-- Define robot constants -->
    <xacro:property name="track_width" value="1"/>
    <xacro:property name="wheelbase" value="1.65"/>
    <xacro:property name="height" value="0.3"/>
    <xacro:property name="mass" value="590"/>
    <xacro:property name="inertial_origin_offset_x" value="-0.275"/>
    <xacro:property name="inertial_origin_offset_z" value="${0.3-wheel_radius}"/>
    <xacro:property name="max_steer_radius" value="0.5"/>

    <xacro:property name="vehicle_collision_width" value="1.230"/>
    <xacro:property name="vehicle_collision_length" value="2.660"/>
    <xacro:property name="vehicle_collision_height" value="1.7"/>
    <xacro:property name="vehicle_collision_offset_x" value="-0.25"/>

    <xacro:property name="PI" value="3.1415926535897931"/>

    <!-- Moments of inertia (rectangular box formulas) -->
    <xacro:property name="rect_Ixx" value="${(1/12) * mass * (track_width**2 + height**2)}"/>
    <xacro:property name="rect_Iyy" value="${(1/12) * mass * (wheelbase**2 + height**2)}"/>
    <xacro:property name="rect_Izz" value="${(1/12) * mass * (wheelbase**2 + track_width**2)}"/>

    <!-- Moments of inertia (cylinder formulas) -->
    <xacro:property name="wheel_Ixx" value="${(1/12) * wheel_mass * (3*wheel_radius**2 + wheel_width**2)}"/>
    <xacro:property name="wheel_Iyy" value="${(1/12) * wheel_mass * (3*wheel_radius**2 + wheel_width**2)}"/>
    <xacro:property name="wheel_Izz" value="${(1/2) * wheel_mass * wheel_radius**2}"/>

    <!-- Base Link -->
    <link name="${prefix}base_link" />

    <!-- Base Footprint -->
    <link name="${prefix}base_footprint"/>

    <joint name="${prefix}base_joint" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}base_footprint"/>
      <origin xyz="0 0 -${2*wheel_radius}" rpy="0 0 0"/>
    </joint>
      
    <!-- Chassis -->
    <link name="${prefix}chassis_link">
      <inertial>
        <mass value="${mass}"/>
        <origin xyz="${inertial_origin_offset_x} 0 ${inertial_origin_offset_z}" rpy="0 0 0"/>
        <inertia 
          ixx="${rect_Ixx}" ixy="0" ixz="0"
          iyy="${rect_Iyy}" iyz="0"
          izz="${rect_Izz}"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://caddy_ai2_ros2_gazebo_simulation/description/meshes/stl/rbcar_chassis.stl"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="${vehicle_collision_offset_x} 0 ${vehicle_collision_height/2-wheel_radius}" rpy="0 0 0"/>
        <geometry>
          <box size="${vehicle_collision_length} ${vehicle_collision_width} ${vehicle_collision_height}"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}chassis_joint" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}chassis_link"/>
      <axis xyz="0 0 1"/>
      <dynamics damping="0.2"/>
    </joint>

    <!-- Rear Wheels -->
    <!-- Rear Right Wheel -->
    <link name="${prefix}rear_right_wheel">
      <collision name="${prefix}rear_right_wheel_collision">
        <origin xyz="0 0 0" rpy="${PI/2} 0 ${PI/2}"/>
        <geometry>
          <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="${PI/2} 0 ${PI/2}"/>
        <geometry>
          <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
        </geometry>
        <material name="black"/>
      </visual>
      <inertial>
        <origin xyz="0 0 0" rpy="${PI/2} 0 ${PI/2}"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${wheel_Ixx}" ixy="0.0" ixz="0.0"
          iyy="${wheel_Iyy}" iyz="0.0"
          izz="${wheel_Izz}"/>
      </inertial>
    </link>

    <joint name="${prefix}rear_right_wheel_joint" type="continuous">
      <parent link="${prefix}chassis_link"/>
      <child link="${prefix}rear_right_wheel"/>
      <origin xyz="-${wheelbase/2} -${track_width/2} 0" rpy="0 0 ${PI/2}"/>
      <axis xyz="1 0 0"/>
    </joint>

    <!-- Rear Left Wheel -->
    <link name="${prefix}rear_left_wheel">
        <collision name="${prefix}rear_left_wheel_collision">
          <origin xyz="0 0 0" rpy="${PI/2} 0 ${PI/2}"/>
          <geometry>
            <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
          </geometry>
        </collision>
        <visual>
          <origin xyz="0 0 0" rpy="${PI/2} 0 ${PI/2}"/>
          <geometry>
            <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
          </geometry>
          <material name="black"/>
        </visual>
        <inertial>
          <origin xyz="0 0 0" rpy="${PI/2} 0 ${PI/2}"/>
          <mass value="${wheel_mass}"/>
          <inertia
            ixx="${wheel_Ixx}" ixy="0.0" ixz="0.0"
            iyy="${wheel_Iyy}" iyz="0.0"
            izz="${wheel_Izz}"/>
        </inertial>
    </link>

    <joint name="${prefix}rear_left_wheel_joint" type="continuous">
      <parent link="${prefix}chassis_link" />
      <child link="${prefix}rear_left_wheel" />
      <origin xyz="-${wheelbase/2} ${track_width/2} 0" rpy="0 0 ${PI/2}"/>
      <axis xyz="1 0 0"/>
    </joint>

    <!-- Front Wheels -->

    <!-- Front Right Steering -->
    <link name="${prefix}right_steering_link">
      <!-- Justication: inertial needed by simulation to avoid errors -->
      <inertial>
        <mass value="0.1"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
      </inertial>
    </link>

    <joint name="${prefix}right_steering_joint" type="revolute">
      <origin xyz="${wheelbase/2} -${track_width/2} 0" rpy="0 0 0" />
      <parent link="${prefix}chassis_link" />
      <child link="${prefix}right_steering_link" />
      <axis xyz="0 0 1" />
      <dynamics damping="0.2" />
      <limit effort="1000.0" lower="-1.57" upper="1.57" velocity="30"/>
    </joint>

    <!-- Front Left Steering -->
    <link name="${prefix}left_steering_link">
      <!-- Justication: inertial needed by simulation to avoid errors -->
      <inertial>
        <mass value="0.1"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
      </inertial>
    </link>

    <joint name="${prefix}left_steering_joint" type="revolute">
      <origin xyz="${wheelbase/2} ${track_width/2} 0" rpy="0 0 0" />
      <parent link="${prefix}chassis_link" />
      <child link="${prefix}left_steering_link" />
      <axis xyz="0 0 1" />
      <dynamics damping="0.2" />
      <limit effort="1000.0" lower="-1.57" upper="1.57" velocity="30"/>
    </joint>

    <!-- Front Right Wheel -->
    <link name="${prefix}front_right_wheel">
      <collision name="${prefix}front_right_wheel_collision">
        <geometry>
          <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
        </geometry>
      </collision>
      <visual>
        <geometry>
          <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
        </geometry>
        <material name="black" />
      </visual>
      <inertial>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${wheel_Ixx}" ixy="0.0" ixz="0.0"
          iyy="${wheel_Iyy}" iyz="0.0"
          izz="${wheel_Izz}"/>
      </inertial>
    </link>

    <joint name="${prefix}front_right_wheel_joint" type="continuous">
      <origin xyz="0 0 0" rpy="-${PI/2} 0 0" />
      <parent link="${prefix}right_steering_link" />
      <child link="${prefix}front_right_wheel" />
      <axis xyz="0 0 1" />
      <dynamics damping="0.2" />
    </joint>

    <!-- Front Left Wheel -->
    <link name="${prefix}front_left_wheel">
      <collision name="${prefix}front_left_wheel_collision">
        <geometry>
          <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
        </geometry>
      </collision>
      <visual>
        <geometry>
          <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
        </geometry>
        <material name="black" />
      </visual>
      <inertial>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${wheel_Ixx}" ixy="0.0" ixz="0.0"
          iyy="${wheel_Iyy}" iyz="0.0"
          izz="${wheel_Izz}"/>
      </inertial>
    </link>

    <joint name="${prefix}front_left_wheel_joint" type="continuous">
      <origin xyz="0 0 0" rpy="-${PI/2} 0 0" />
      <parent link="${prefix}left_steering_link" />
      <child link="${prefix}front_left_wheel" />
      <axis xyz="0 0 1" />
      <dynamics damping="0.2" />
    </joint>

    <xacro:if value="$(arg is_simulation)">
      <ros2_control name="GazeboSystem" type="system">
        <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        <joint name="${prefix}rear_right_wheel_joint">
          <command_interface name="velocity" />
          <state_interface name="velocity" />
          <state_interface name="position" />
        </joint>
        <joint name="${prefix}rear_left_wheel_joint">
          <command_interface name="velocity" />
          <state_interface name="velocity" />
          <state_interface name="position" />
        </joint>
        <joint name="${prefix}right_steering_joint">
          <command_interface name="position" />
          <state_interface name="position" />
        </joint>
        <joint name="${prefix}left_steering_joint">
          <command_interface name="position" />
          <state_interface name="position" />
        </joint>
        <joint name="${prefix}front_right_wheel_joint">
          <state_interface name="position" />
          <state_interface name="velocity" />
        </joint>
        <joint name="${prefix}front_left_wheel_joint">
          <state_interface name="position" />
          <state_interface name="velocity" />
        </joint>
      </ros2_control>

      <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
          <parameters>$(find caddy_ai2_ros2_gazebo_simulation)/bringup/config/controllers_simulation.yaml</parameters>
        </plugin>
      </gazebo>

      <gazebo reference="${prefix}rear_right_wheel">
        <plugin filename="gz-sim-contact-system" name="gz::sim::systems::Contact"/>

        <sensor name="contact_sensor" type="contact">
          <always_on>true</always_on>
          <update_rate>1000</update_rate>
          <contact>
            <collision>${prefix}rear_right_wheel_collision</collision>
          </contact>
        </sensor>
      </gazebo>

      <gazebo reference="${prefix}rear_left_wheel">
        <plugin filename="gz-sim-contact-system" name="gz::sim::systems::Contact"/>

        <sensor name="contact_sensor" type="contact">
          <always_on>true</always_on>
          <update_rate>1000</update_rate>
          <contact>
            <collision>${prefix}rear_left_wheel_collision</collision>
          </contact>
        </sensor>
      </gazebo>

      <gazebo reference="${prefix}front_right_wheel">
        <plugin filename="gz-sim-contact-system" name="gz::sim::systems::Contact"/>

        <sensor name="contact_sensor" type="contact">
          <always_on>true</always_on>
          <update_rate>1000</update_rate>
          <contact>
            <collision>${prefix}front_right_wheel_collision</collision>
          </contact>
        </sensor>
      </gazebo>

      <gazebo reference="${prefix}front_left_wheel">
        <plugin filename="gz-sim-contact-system" name="gz::sim::systems::Contact"/>

        <sensor name="contact_sensor" type="contact">
          <always_on>true</always_on>
          <update_rate>1000</update_rate>
          <contact>
            <collision>${prefix}front_left_wheel_collision</collision>
          </contact>
        </sensor>
      </gazebo>

    </xacro:if>

  </xacro:macro>

</robot>