<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simulation_caddy_ai2">

  <!-- ==================== ARGUMENTOS CON VALORES POR DEFECTO ==================== -->
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="is_simulation" default="true" />
  
  <!-- Import Caddy AI2 description of the vehicle macro -->
  <xacro:include filename="$(find caddy_ai2_ros2_description)/description/urdf/caddy_ai2.description.urdf.xacro" />

  <!-- Import Caddy AI2 ros2_control description -->
  <xacro:if value="$(arg is_simulation)">
    <xacro:include filename="$(find caddy_ai2_ros2_description)/description/ros2_control/caddy_ai2.sim.ros2_control.urdf.xacro" />
  </xacro:if>
  <xacro:unless value="$(arg is_simulation)">
    <xacro:include filename="$(find caddy_ai2_ros2_description)/description/ros2_control/caddy_ai2.robot.ros2_control.urdf.xacro" />
  </xacro:unless>

  <!-- Used for fixing robot -->
  <link name="world"/>

  <xacro:caddy_ai2 parent="world" prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:caddy_ai2>

  <xacro:caddy_ai2_ros2_control prefix="$(arg prefix)"/>

  <xacro:include filename="$(find caddy_ai2_ros2_description)/description/gazebo/caddy_ai2.gazebo.urdf.xacro" />
  <xacro:caddy_ai2_gazebo prefix="$(arg prefix)"/>

</robot>