<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Import Caddy AI2 Materials macro -->
  <xacro:include filename="$(find caddy_ai2_ros2_description)/description/urdf/caddy_ai2.materials.urdf.xacro" />

  <xacro:macro name="caddy_ai2" params="parent prefix *origin">



  </xacro:macro>

</robot>